.filter-content {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    padding-top: 1em;
    max-height: 400px;
    overflow: hidden;

    .filter-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        .title {
            margin: 0;
        }

        .multiple-checkbox {
            display: grid;
            grid-template-columns: 'checkbox-name checkbox-input';
        }

        .filter-price {
            display: flex;
            flex-direction: column;
            max-height: 50px;
            overflow: hidden;

            &.filter-hidden {
                max-height: 0;
            }
        }
    }
}

.filter-hidden {
    max-height: 0;
}

.filter-toggle {
    cursor: pointer;
    margin: 0;
}
