.filter-container {
    border-bottom-style: solid;
    border-color: white;

    .filter-content {
        transition: max-height 0.5s;
        max-height: 400px;
        overflow: hidden;
        padding: 0 0.25em;

        &.filter-hidden {
            max-height: 0;
            overflow: hidden;
        }

        .filter-item {
            display: flex;
            flex-direction: column;
            padding: 0.5em 0;
            border-top-style: solid;
            border-color: white;
            border-width: 0.5px;

            .title {
                margin: 0;
            }

            .multiple-checkbox {
                display: grid;
                grid-template-columns: 'checkbox-name checkbox-input';
            }

            .filter-price {
                display: flex;
                flex-direction: column;
                transition: max-height 0.5s;
                max-height: 50px;
                overflow: hidden;

                &.filter-hidden {
                    max-height: 0;
                }
            }
        }
    }
}

.filter-toggle {
    cursor: pointer;
    margin: 0;
    display: flex;
    padding: 0.25em;
    justify-content: space-between;
    align-items: center;
    .rotate-180 {
        transform: rotate(-180deg);
        transition: transform 0.25s linear;
    }
    .rotate-0 {
        transform: rotate(0deg);
        transition: transform 0.25s linear;
    }
}
