.shopping-grid {
    width: 100%;
    max-width: $largeScreen;
    display: grid;
    align-items: center;
    margin-top: 30px;
    gap: 1em;
    padding-bottom: 1em;
    grid-template-columns: repeat(auto-fill, minmax($itemWidth, 1fr));

    .shopping-grid-item {
        display: flex;
        justify-content: center;
    }
}
