.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-title {
    margin: 0;
    padding: 0 0.25em;
}

.search-bar {
    padding: 3px;
}

.search-btn {
    padding: 0.25em 0 0 0.25em;
    cursor: pointer;
    width: 100%;
}

.search-container {
    border-bottom-style: solid;
    border-color: white;
    padding-bottom: 0.5em;
}

.search-clear {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.1em 8px;
    font-style: normal;
    font-size: 1.2em;
    user-select: none;
    cursor: pointer;
}
