.search-form {
    display: flex;
    border-style: solid;
    border-color: white;
    max-height: 1.5em;
    flex-direction: row;
}

.search-title {
    margin: 0;
    padding: 0 0.25em;
}

.search-bar {
    max-height: 1em;
    padding: 3px;
}

.search-btn {
    padding: 0.25em 0.25em 0 0.25em;
    cursor: pointer;

    &:hover {
        background-color: pink;
    }
}

.search-container {
    display: flex;
}

.search-clear {
    cursor: pointer;
    margin: 0.25em;
    text-decoration: underline;
}
