.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20vh 0;

    > div {
        width: 100%;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .row {
        flex-direction: row;
        justify-content: space-between;
    }

    .half {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .search-and-filter {
        top: 0;
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        left: 0;
        width: 100%;
        background-color: $primary;
        color: white;
        padding: 5vh 0;
        max-height: min-content;
        z-index: 1;
    }

    @media screen and (max-width: 1000px) {
        .search-and-filter {
            flex-direction: column;
        }
    }
}
