.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    > div {
        width: 100%;
    }

    .center {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .row {
        flex-direction: row;
        justify-content: space-between;
    }

    .half {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .search-and-filter {
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        background-color: $primary;
        color: white;
        padding: 5vh 0;
        max-height: min-content;
        z-index: 1;

        > div {
            margin: auto;
            max-width: $largeScreen;
        }
    }
}
