.container {
    display: flex;
    flex-direction: column;
    width: 100%;

    > div {
        width: 100%;
    }

    .center {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .row {
        flex-direction: row;
        justify-content: space-between;
    }

    .half {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .search-and-filter {
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        background-color: $primary;
        color: white;
        padding: 3vh 0 0 0;
        max-height: min-content;
        z-index: 1;
        min-height: $headerMinHeight;
        position: fixed;

        .clear-btn {
            cursor: pointer;
            margin: 0 0.25em 1em 0.25em;
            text-decoration: underline;

            &.reset {
                margin: 1em 0.5em;
            }
        }

        > div {
            margin: auto;
            max-width: $largeScreen;
        }
    }

    .grid-container {
        margin-top: calc($headerMinHeight + 5vh);

        .no-results {
            display: flex;
            flex-direction: column;
            justify-content: center;

            > h2, h3 {
                margin: 1em auto 0 auto;
                word-wrap: normal;
                text-align: center;
            }
        }
    }
}
