@import 'partials/variables';
@import 'partials/searchBar';
@import 'partials/filter';
@import 'partials/item';
@import 'partials/grid';
@import 'partials/shopListPage';

body {
    padding: 0 2%;
    // background-image: linear-gradient($background-red, black);
    background-color: gold;
}

@media screen and (max-width: 1000px) {
    body {
        padding: 0 0;
    }
}
